@font-face {
  font-family: "RocksDeath";
  src: local("RocksDeath"), url("./fonts/RocksDeath.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Defused";
  src: local("Defused"), url("./fonts/10929.otf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "OpenType";
  src: local("Defused"), url("./fonts/18036.otf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "BeastImpacted";
  src: local("Defused"), url("./fonts/Beast.ttf") format("truetype");
  font-weight: normal;
}

::-webkit-scrollbar-button {
  background-repeat: no-repeat;
  width: 6px;
  height: 0px;
}

::-webkit-scrollbar-track {
  background-color: #32312e;
  box-shadow: 0px 0px 3px #000 inset;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #ffcd18c9;
  box-shadow: 0px 1px 1px #fff inset;
  background-image: url("https://yraaa.ru/_pu/24/59610063.png");
  background-position: center;
  background-repeat: no-repeat;
}

::-webkit-resizer {
  background-repeat: no-repeat;
  width: 7px;
  height: 0px;
}

::-webkit-scrollbar {
  width: 11px;
}
