

.homePage-sroll {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  
}

.newBackground {
  background-image: url(../../images/pexels-photo-1105666.jpeg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  will-change: transform;
  z-index: -1;
  opacity: 0.2;
}

.homePage {
  display: flex;

  justify-content: center;
  position: relative;
  flex-wrap: wrap;
  
  
}

.homePageHeader {
  display: flex;
  align-items: center;
  flex-direction: column;
}




.homePage-post {
 margin-right: 1%;
  background-color: rgb(0, 0, 0);
  margin-top: 3%;
  width: 70vh;
  border-radius: 15px;
  border-style: solid;
  padding: 50px;
  border-width: 2px;
  border-color: rgb(26, 26, 26);
  overflow: hidden;
}

.homePage-post-img {
  float: left !important;
  width: 20vh;
  margin-right: 30px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.homePage-post-title {
  font-family: "Russo One", sans-serif;
  margin-top: -5;
  color: rgb(206, 198, 79);
  font-size: 4vh;

}
.homePage-post-text {
  font-family: "Comfortaa", cursive;
  font-size: 120%;
  margin-top: 10px;
  color: rgb(228, 228, 228);
  text-decoration: none;

}
.homePage-img {
  width: 100%;
  height: 100%;
  z-index: -100;
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

.nullDiv {
  margin-top: 5%;
}

.banner {
 
  // mix-blend-mode:overlay;

  color: rgb(255, 255, 255);
  font-size: 10.5vw;
  font-weight: normal;
  animation: fadeIn linear 1s;
  font-family: 'RocksDeath';
  margin-top: 25vh;
  z-index: -1;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
